/node_modules/
/cartridges/modules/shared/
/cartridges/*/cartridge/static/*/css/
/cartridges/*/cartridge/static/*/js/
/cartridges/*/cartridge/static/*/fonts/
/cartridges/modules/vue/
/cartridges/modules/.yarn-integrity
/cartridges/vue_sfra/cartridge/components/dist/

coverage/
npm-debug.log
cartridges.zip
.idea/
dw.json
davos.json
.DS_Store
test/appium/webdriver/config.json
.vscode
.history
sfra-jsdoc/dist/*
tmp/*
